.image_content{
    height: 650px;
    display: flex;
    background-color: #e2e7e6;
    
}
.image{
    height: 100%;
    /* border: 2px solid black; */
    width: 50%;

}
.box_image{
    height: 87%;
    background-size: cover;
    
}
h2{
    text-align: center;
    font-size: 25px;
    color: crimson;
}